@model ProductVM
@using CakeHut.Models.ViewModels

<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Product</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3" row>
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>
        <div class="mb-3" row>
            <label asp-for="Product.CategoryId" class="control-label"></label>
            <select asp-for="Product.CategoryId" asp-items="Model.CategorySelectListItems" class="form-control">   
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3" row>
            <label asp-for="Product.Description"></label>
            <textarea asp-for="Product.Description" class="form-control"></textarea>
        </div>
        <div class="mb-3" row>
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3" row>
            <label asp-for="Product.ImageUrl"></label>
            <input type="file" class="form-control" />
        </div>
        <div class="mb-3" row>
            <label asp-for="Product.Weight"></label>
            <input asp-for="Product.Weight" class="form-control" />
            <span asp-validation-for="Product.Weight" class="text-danger"></span>
        </div>
        <div class="mb-3" row>
            <label asp-for="Product.Availability"></label>
            <select asp-for="Product.Availability" class="form-control" asp-items="@(new SelectList(new[] { "In Stock", "Out of Stock", "Pre-Order" }))">
                <option value="">Select Availability</option>
            </select>
            <span asp-validation-for="Product.Availability" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control">Back To List</a>
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}